- model_class = Stock
- unless notice.blank?
  .alert.alert-success
    = notice
.page-header
  %h1 あなたのストック一覧
- unless @stocks.size > 0
  .panel.panel-primary
    .panel-heading
      ストックがありません！
    .panel-body
      = link_to "追加しましょう！", new_stock_path

- else
  %table.table.table-striped
    %thead
      %tr
        %th(style="width: 5%")= model_class.human_attribute_name(:id)
        %th(style="width: 20%")= model_class.human_attribute_name(:name)
        %th(style="width: 20%")= model_class.human_attribute_name(:quantity)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @stocks.each do |stock|
        %tr
          %td= link_to stock.id, edit_stock_path(stock)
          %td= stock.name
          %td
            - width = [stock.quantity / stock.consumption_of * 100, 100].min
            .progress
              .progress-bar.progress-bar-striped.active(style="width: #{width}%")
                = "#{stock.residual_quantity} #{stock.unit}"
          %td=l stock.created_at
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_stock_path(stock), :class => 'btn btn-primary btn-xs'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), stock_path(stock), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs'

  = link_to t('.new', :default => t("helpers.links.new")), new_stock_path, :class => 'btn btn-primary'
