- model_class = Category
.page-header
	%h1 カテゴリ一覧
	.panel.panel-primary
		.panel-body
			= link_to new_category_path, {class: 'btn btn-primary'} do
				%span.glyphicon.glyphicon-plus カテゴリを追加する！
		- unless @categories.size > 0
			.panel-heading
				カテゴリーがありません！
		- else
			%table.table.table-striped.table-hover
				%tr
					%th ID
					%th 名前
					%th
					%th
					%th

				- @categories.each do |category|
					%tr
						%td= link_to category.id, edit_category_path(category), {class: 'category-id'}
						%td= category.name
						%td
							= link_to category do
								%span.glyphicon.glyphicon-eye-open
						%td
							= link_to category, :method => :delete, :data => { :confirm => 'Are you sure?' } do
								%span.glyphicon.glyphicon-remove

